@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #BE9FE1;
  color: #181354;
  padding: 40px;
  line-height: 1.50;
  background-size: cover;
}
h1 {

  font-family: 'Montserrat';
  font-size: 3em;
  color: #FEDEFF;
}

h2 {
  font-family: 'Trebuchet MS';
  font-size: 2em;

}

h4 {font-size: 1em;
font-family: 'Montserrat';
color: #FEDEFF;

}

dt {
	font-family: 'Trebuchet MS';
	font-size: 1.5em;
	font-weight: semibold;
}

dd {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: light;

}

ul {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: light;

}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
a:link {
  color: #FEDEFF;
}
a:visited {
  color: #F9F9F9;
}
a:hover {
  color: #E5E0FF;
}
a:active {
  color: #E5E0FF;
}